<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, placeholder: 'Title' %>
    </p>
   
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content, placeholder: 'Content' %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
 <% end %>

 <%= link_to 'Back', articles_path %>