<!DOCTYPE html>
<html>
  <head>
    <title>RailsDemo</title>
    <link href='https://fonts.googleapis.com/css?family=Bahianita' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p> Hello! <%= `#{current_user}` %> </p>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
    <%= notice || alert %> 
    <%= yield %>
  </body>
</html>
